<div class="intro">
    <h5>About</h5>
    <h1>Let me introduce myself.</h1>
    <div class="intro-content">
        <img class="profile-picture" src="" alt="Profile Picture">
        <p class="intro-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do 
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu 
            fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa 
            qui officia deserunt mollit anim id est laborum.
        </p>
    </div>
</div>
<div class="content">
    <div class="profile">
        <h3>PROFILE</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do 
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu 
        </p>
        <ul class="profile-info">
            <li>
                <strong>NAME:</strong>
                <span>Ryan Nowak</span>
            </li>
            <li>
                <strong>BIRTH DATE:</strong>
                <span>October 3, 2001</span>
            </li>
            <li>
                <strong>EMAIL:</strong>
                <span>
                    <a href="mailto:rcn8263@rit.edu">rcn8263@rit.edu</a>
                </span>
            </li>
        </ul>
    </div>
    <div class="skills">
        <h3>SKILLS</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do 
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu 
        </p>
        <ul class="skills-bars">
            <li>
                <strong>JAVA</strong>
                <div class="progress-90"></div>
            </li>
            <li>
                <strong>HTML/CSS/JS</strong>
                <div class="progress-70"></div>
            </li>
            <li>
                <strong>TYPESCRIPT (ANGULAR)</strong>
                <div class="progress-70"></div>
            </li>
        </ul>
    </div>
</div>