.topnav {
  background-color: rgb(192, 192, 192);
  text-align: center;
}

.topnav a {
  padding: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  text-decoration: none;
  display: inline-block;
  background-color: #e8e8e8;
  color: #3d3d3d;
}

.topnav a:hover {
  color: white;
  background-color: #42545c;
}
.topnav a.active {
  background-color: black;
}

.footer {
  background-color: gray;
}

.colorPalette {
  margin: 0;
}

.colorPalette .eerieBlack {
  background-color: #131515;
  color: red;
}

.colorPalette .jet {
  background-color: #2b2c28;
  color: red;
}

.colorPalette .persianGreen {
  background-color: #339989;
}

.colorPalette .middleBlueGreen {
  background-color: #7de2d1;
}

.colorPalette .snow {
  background-color: #fffafb;
}
