.topnav {
  background-color: var(--color-palette-60);
  text-align: center;
}

.topnav a {
  padding: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  text-decoration: none;
  display: inline-block;
  background-color: var(--color-palette-60);
  color: var(--color-palette-30);
}

.topnav a:hover {
  color: var(--color-palette-10);
  background-color: var(--color-palette-30-alt);
}
.topnav a.active {
  background-color: black;
}

.footer {
  background-color: gray;
}

.colorPalette {
  margin: 0;
}

.colorPalette .eerieBlack {
  background-color: var(--color-palette-60);
  color: red;
}

.colorPalette .jet {
  background-color: var(--color-palette-30-alt);
  color: red;
}

.colorPalette .persianGreen {
  background-color: var(--color-palette-10);
}

.colorPalette .middleBlueGreen {
  background-color: var(--color-palette-10-alt);
}

.colorPalette .snow {
  background-color: var(--color-palette-30);
}
