<nav class="topnav">
  <a routerLink="/home">Home</a>
  <a routerLink="/about">About</a>
  <a routerLink="/projects">Projects</a>
  <a routerLink="/resume">Resume</a>
  <a routerLink="/contact">Contact</a>
</nav>

<router-outlet></router-outlet>

<div class="footer">
  <p>Button that takes you to top of page.</p>
  <p>Social media links w/ icons: LinkedIn, GitHub</p>
  <p>"Edited by Ryan Nowak"</p>
  <p>rcn8263@rit.edu</p>
  <p>symbol in center?</p>
  <ul class="colorPalette">
    <li class="eerieBlack">Eerie Black: 131515</li>
    <li class="jet">Jet: 2B2C28</li>
    <li class="persianGreen">Persian Green: 339989</li>
    <li class="middleBlueGreen">Middle Blue Green: 7DE2D1</li>
    <li class="snow">Snow: FFFAFB</li>
  </ul>
</div>