<body class="bg">
    <div>
        <p class="name">Ryan Nowak</p>
        <p class="description">Computer Scientist | Software Developer | Student</p>
        <ul class="social">
            <li>
                <a href="https://github.com/rcn8263" target="_blank" rel="noopener noreferrer">
                    <i class="fa fa-github"></i>
                </a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/ryan-nowak-38b736221/" target="_blank" rel="noopener noreferrer">
                    <i class="fa fa-linkedin"></i>
                </a>
            </li>
            <li>
                <a href="mailto:rcn8263@rit.edu" target="_blank" rel="noopener noreferrer">
                    <i class="fa fa-envelope"></i>
                </a>
            </li>
        </ul>
    </div>
</body>